{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block form %}
<div class="d-flex justify-content-center text-center mt-4">
    <div class="col-lg-4 col-sm-6 col-md-6 col-xl-4 border bg-light">
    <img class="img-fluid" src="https://www.avnet.com/opasdata/d120001/derivates/3/072/351/Artesyn_logo_web.png">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock form %}
