{% extends "base.html" %}

{% block add_script %}
<style>
    div:target {
        border: 1px solid blue;
    }
</style>
<script>
    $(document).ready(function () {
        {% for category in scorecard.category_list.all %}
        {% for question in category.questions.all %}
        {% for rating in scorecard.rating.all %}
        {% if rating.question.question_string == question.question_string %}
        $('input[name=cat-{{category.category_number}}-row-{{question.question_number}}][value={{rating.rate}}]').prop('checked', 'checked');
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
        {% for category in scorecard.category_list.all %}
        {% for question in category.questions.all %}
        if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()) {
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html('');
        }
        else {
            $('.weight-{{category.category_number}}-{{question.question_number}}').val({{ question.multiplier }});
    $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val(
        $('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()
        * $('.weight-{{category.category_number}}-{{question.question_number}}').val());
    var totalR = parseFloat($('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val());
    $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html(parseFloat(totalR.toFixed(4)));
         }
    {% for c in scorecard.category_list.all %}
    var totalColumnR = 0;
    $('.total-cat-{{c.category_number}}').each(function () {
        totalColumnR += +(this.value);
    });
    if ($('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html() == '') {
        $('.total-column-cat-{{c.category_number}}').html('');
    }
    else {
        $('.total-column-cat-{{c.category_number}}').html(parseFloat(totalColumnR.toFixed(4)));
    }
    {% endfor %}
    var totalall = 0;
    {% for c in scorecard.category_list.all %}
    if ($('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html() == '') {
        $('.total-column-cat-{{c.category_number}}').html('');
    }
    else {
        totalall += +$('.total-column-cat-{{c.category_number}}').html();
    }
    {% endfor %}
    if ($('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html() == '') {
        $('.total-column-cat-{{c.category_number}}').html('');
    }
    else {
        $('.total-of-all').html(parseFloat(totalall.toFixed(4)));
    }
    var ctr = 0;
    {% for category in scorecard.category_list.all %}
    $('.unchecked-radio-{{category.category_number}}').html('');
    {% for question in category.questions.all %}
    if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}').is(':checked')) {
        $('.unchecked-radio-{{category.category_number}}').append("Category: {{category.category_number}} Question: {{question.question_number}}<br>");
        $('#submit-btn').css('display', 'none');
    }
    else
        ctr++;
    {% endfor %}
    {% endfor %}
    console.log(ctr);
    ctr *= 6;
    if (ctr == $('input:radio').length) {
        $('#submit-btn').css('display', 'block');
        $('.dropup').css('display', 'none');
    }
    var totalQ = 0;
    {% for question in category.questions.all %}
    totalQ++;
    {% endfor %}
    // console.log(totalQ);
    $('.weight-{{category.category_number}}-{{question.question_number}}').val({{ question.multiplier }});
    var totalNA = 1;
    var weightNA = 0;
    {% for question in category.questions.all %}
    $('.weight-{{category.category_number}}-{{question.question_number}}').val({{ question.multiplier }});
    if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() == 0) {
        totalNA++;
        weightNA += parseFloat($('.weight-{{category.category_number}}-{{question.question_number}}').val());
    }
    else if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0 && totalQ != totalNA) {
        $('input[name=cat-{{category.category_number}}-row-{{question.question_number}}][value=0]').css('display', 'block');
    }
    {% endfor %}
    totalNA--;
    var distribute = totalQ - totalNA;
    var weightd = weightNA / distribute;
    var ratingCat = 0;
    {% for question in category.questions.all %}
    ratingCat += parseInt($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val());
    {% endfor %}
    var div = totalQ - totalNA;
    // console.log(div);
    ratingCat = ratingCat / div;
    if (!ratingCat) {
        $('.rating-column-cat-{{category.category_number}}').html('');
    }
    else {
        $('.rating-column-cat-{{category.category_number}}').html(ratingCat.toFixed(4));
    }
    totalNA++;
    if (totalQ == totalNA) {
        {% for question in category.questions.all %}
        if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
            var jstr = 'cat-{{category.category_number}}-row-{{question.question_number}}';
        }
        {% endfor %}
        $('input[name=' + jstr + '][value=0]').css('display', 'none');
        totalNA--;
    }
    // console.log(distribute);
    // console.log(weightd);
    {% for question in category.questions.all %}
    if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
        var currentweight = parseFloat($('.weight-{{category.category_number}}-{{question.question_number}}').val());
        currentweight += parseFloat(weightd);
        // console.log(currentweight);
        $('.weight-{{category.category_number}}-{{question.question_number}}').val(parseFloat(currentweight.toFixed(4)));
        $('.weight-{{category.category_number}}-{{question.question_number}}').html($('.weight-{{category.category_number}}-{{question.question_number}}').val());
        if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()) {
            // console.log('undefined');
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html('');
        }
        else {
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val(
                $('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()
                * $('.weight-{{category.category_number}}-{{question.question_number}}').val());
            var totalR = parseFloat($('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val());
            console.log(totalR.toFixed(4));
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html(parseFloat(totalR.toFixed(4)));
        }
        {% for c in scorecard.category_list.all %}
        var totalColumnR = 0;
        $('.total-cat-{{c.category_number}}').each(function () {
            totalColumnR += +(this.value);
        });
        if (!totalColumnR) {
            $('.total-column-cat-{{c.category_number}}').html('');
        }
        else {
            $('.total-column-cat-{{c.category_number}}').html(parseFloat(totalColumnR.toFixed(4)));
        }
        {% endfor %}
        var totalall = 0;
        {% for c in scorecard.category_list.all %}
        totalall += +$('.total-column-cat-{{c.category_number}}').html();
        {% endfor %}
        $('.total-of-all').html(parseFloat(totalall.toFixed(4)));
    }
    else {
        $('.weight-{{category.category_number}}-{{question.question_number}}').html('0');
    }
    {% endfor %}
    //NA END
    {% endfor %}
    {% endfor %}
    var ratingall = 0;
    var categoryN = 0;
    {% for category in scorecard.category_list.all %}
    ratingall += +$('.rating-column-cat-{{category.category_number}}').html();
    categoryN++;
    {% endfor %}
    ratingall /= categoryN;
    $('.rating-of-all').html(ratingall.toFixed(4));
    {% for category in scorecard.category_list.all %}
    var totalNA = 0;
    {% for question in category.questions.all %}
    $('.cat-{{category.category_number}}-row-{{question.question_number}}').click(function () {
        if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()) {
            // console.log('undefined');
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html('');
        }
        else {
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val(
                $('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()
                * $('.weight-{{category.category_number}}-{{question.question_number}}').val());
            var totalR = parseFloat($('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val());
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html(parseFloat(totalR.toFixed(4)));
        }
        var totalColumn = 0;
        $('.total-cat-{{category.category_number}}').each(function () {
            totalColumn += +(this.value);
        });
        if (!totalColumn) {
            $('.total-column-cat-{{category.category_number}}').html('');
        }
        else {
            $('.total-column-cat-{{category.category_number}}').html(parseFloat(totalColumn.toFixed(4)));
        }
        var totalall = 0;
        {% for c in scorecard.category_list.all %}
        totalall += +$('.total-column-cat-{{c.category_number}}').html();
        {% endfor %}
        $('.total-of-all').html(parseFloat(totalall.toFixed(4)));
        var ctr = 0;
        {% for category in scorecard.category_list.all %}
        $('.unchecked-radio-{{category.category_number}}').html('');
        {% for question in category.questions.all %}
        if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}').is(':checked')) {
            $('.unchecked-radio-{{category.category_number}}').append("Category: {{category.category_number}} Question: {{question.question_number}}<br>");
            $('#submit-btn').css('display', 'none');
        }
        else
            ctr++;
        {% endfor %}
        {% endfor %}
        console.log(ctr);
        ctr *= 6;
        if (ctr == $('input:radio').length) {
            $('#submit-btn').css('display', 'block');
            $('.dropup').css('display', 'none');
        }
    });
    {% endfor %}
    {% endfor %}
    //NA HERE
    {% for category in scorecard.category_list.all %}
    var totalQ = 0;
    {% for question in category.questions.all %}
    totalQ++;
    {% endfor %}
    {% for question in category.questions.all %}
    $('.cat-{{category.category_number}}-row-{{question.question_number}}').click(function () {
        $('.weight-{{category.category_number}}-{{question.question_number}}').val({{ question.multiplier }});
    var totalNA = 1;
    var weightNA = 0;
    {% for question in category.questions.all %}
    $('.weight-{{category.category_number}}-{{question.question_number}}').val({{ question.multiplier }});
    if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() == 0) {
        totalNA++;
        weightNA += parseFloat($('.weight-{{category.category_number}}-{{question.question_number}}').val());
    }
    else if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0 && totalQ != totalNA) {
        $('input[name=cat-{{category.category_number}}-row-{{question.question_number}}][value=0]').css('display', 'block');
    }
    {% endfor %}
    totalNA--;
    var distribute = totalQ - totalNA;
    var weightd = weightNA / distribute;
    var ratingCat = 0;
    {% for question in category.questions.all %}
    ratingCat += parseInt($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val());
    {% endfor %}
    var div = totalQ - totalNA;
    ratingCat = ratingCat / div;
    if (!ratingCat) {
        $('.rating-column-cat-{{category.category_number}}').html('');
    }
    else {
        $('.rating-column-cat-{{category.category_number}}').html(ratingCat.toFixed(4));
    }
    totalNA++;
    if (totalQ == totalNA) {
        {% for question in category.questions.all %}
        if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
            var jstr = 'cat-{{category.category_number}}-row-{{question.question_number}}';
        }
        {% endfor %}
        $('input[name=' + jstr + '][value=0]').css('display', 'none');
        totalNA--;
    }
    {% for question in category.questions.all %}
    if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
        var currentweight = parseFloat($('.weight-{{category.category_number}}-{{question.question_number}}').val());
        currentweight += parseFloat(weightd);
        // console.log(currentweight);
        $('.weight-{{category.category_number}}-{{question.question_number}}').val(parseFloat(currentweight.toFixed(4)));
        $('.weight-{{category.category_number}}-{{question.question_number}}').html($('.weight-{{category.category_number}}-{{question.question_number}}').val());
        if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()) {
            // console.log('undefined');
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html('');
        }
        else {
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val(
                $('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()
                * $('.weight-{{category.category_number}}-{{question.question_number}}').val());
            var totalR = parseFloat($('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val());
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html(parseFloat(totalR.toFixed(4)));
        }
        {% for c in scorecard.category_list.all %}
        var totalColumnR = 0;
        $('.total-cat-{{c.category_number}}').each(function () {
            totalColumnR += +(this.value);
        });
        if (!totalColumnR) {
            $('.total-column-cat-{{c.category_number}}').html('');
        }
        else {
            $('.total-column-cat-{{c.category_number}}').html(parseFloat(totalColumnR.toFixed(4)));
        }
        {% endfor %}
        var totalall = 0;
        {% for c in scorecard.category_list.all %}
        totalall += +$('.total-column-cat-{{c.category_number}}').html();
        {% endfor %}
        $('.total-of-all').html(parseFloat(totalall.toFixed(4)));
    }
    else {
        $('.weight-{{category.category_number}}-{{question.question_number}}').html('0');
    }
    {% endfor %}
    var ratingall = 0;
    var categoryN = 0;
    {% for category in scorecard.category_list.all %}
    ratingall += +$('.rating-column-cat-{{category.category_number}}').html();
    categoryN++;
    {% endfor %}
    ratingall /= categoryN;
    $('.rating-of-all').html(ratingall.toFixed(4));
    });
    {% endfor %}
    {% endfor %}
    // NA end here
});
</script>

{% endblock add_script %}

{% block form %}
<div class="sc container bg-white animated bounceInLeft p-3 mt-4">
    <div class="card border-0 bg-white mt-2" name="scorecard">
        <div class="card-body">
            <h4 class="card-title">Scorecard ID: {{scorecard.cid}} - {{ scorecard.date_released|date:'M-d-Y' }}</h4>
            <h5 class="card-title">
                {{ scorecard.provider }}{% for z in scorecard.provider.services.all %}-{{z.name}}{%endfor%}</h5>
            <h6 class="card-subtitle mb-2 text-primary">Account Manager: {{ scorecard.account_manager }}</h6>
            <h6 class="card-subtitle mb-2">Email: {{ scorecard.account_manager.email }}</h6>
            <h6 class="card-subtitle mb-2">Month Covered: {{ scorecard.month_covered|date:'F' }}</h6>
        </div>
    </div>
    <div class="container" name="form">
        <form method="POST">
            {% csrf_token %}
            {% for category in scorecard.category_list.all %}
            <div class="h5" name="category-name" id="{{ category.category_number }}">
                {{ category.category_number }}. {{category.category_name}}
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark text-center h5">
                    <tr>
                        <th>#</th>
                        <th>Question</th>
                        <th>Weight</th>
                        <th>Rating</th>
                        <th>Value</th>
                        <th>Feedback</th>
                        <!-- <th>Feedback</th> -->
                    </tr>
                </thead>
                <tbody class="bg-white">
                    {% for question in category.questions.all %}
                    <tr class="h6 text-center">
                        <th> {{ question.question_number }} </th>
                        <td class="text-left" style="width: 30%;"> {{question.question_string|linebreaks}}</td>
                        <td style="width: 10%;"
                            class="weight-{{category.category_number}}-{{question.question_number}}">
                            {{question.multiplier}} </td>
                        <td>
                            <div class=" form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="1" type="radio"
                                        class="form-check-input cat-{{category.category_number}}-row-{{question.question_number}}"
                                        name="cat-{{category.category_number}}-row-{{question.question_number}}">1
                                </label>
                            </div>
                            <div class="form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="2" type="radio"
                                        class="form-check-input cat-{{category.category_number}}-row-{{question.question_number}}"
                                        name="cat-{{category.category_number}}-row-{{question.question_number}}">2
                                </label>
                            </div>
                            <div class="form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="3" type="radio"
                                        class="form-check-input cat-{{category.category_number}}-row-{{question.question_number}}"
                                        name="cat-{{category.category_number}}-row-{{question.question_number}}">3
                                </label>
                            </div>
                            <div class=" form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="4" type="radio"
                                        class="form-check-input cat-{{category.category_number}}-row-{{question.question_number}}"
                                        name="cat-{{category.category_number}}-row-{{question.question_number}}">4
                                </label>
                            </div>
                            <div class="form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="5" type="radio"
                                        class="form-check-input cat-{{category.category_number}}-row-{{question.question_number}}"
                                        name="cat-{{category.category_number}}-row-{{question.question_number}}">5
                                </label>
                            </div>
                            <div class="form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="0" type="radio"
                                        class="form-check-input cat-{{category.category_number}}-row-{{question.question_number}}"
                                        name="cat-{{category.category_number}}-row-{{question.question_number}}">NA
                                </label>
                            </div>
                        </td>
                        <td>
                            <text name="total-every-row"
                                id="total-cat-{{category.category_number}}-row-{{question.question_number}}"
                                class="total-cat-{{category.category_number}}">
                            </text>
                        </td>
                        <td>
                            <text name="feedback"
                                id="feedback-cat-{{category.category_number}}-row-{{question.question_number}}"
                                class="feedback-cat-{{category.category_number}}">
                            </text>
                        </td>
                        <!-- <td>
                        </td> -->
                    </tr>
                    {% endfor %}
                    <tr class="h5 text-center" name="total-column">
                        <td>
                            <text>Total:</text>
                            <text name="total-of-column" class="total-column-cat-{{category.category_number}}">
                            </text>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <!-- <text>Rating: </text>
                            <text name="rating-of-column" class="rating-column-cat-{{category.category_number}}">
                            </text> -->
                        </td>
                        <td>
                        </td>
                        <td>

                        </td>
                        <!-- <td>
                        </td> -->
                    </tr>
                    <div class="dropup">
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Please answer the remaining questions:</h4>
                            <div class="unchecked-radio-{{category.category_number}}">

                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
            {% endfor %}
            <div name="total-of-form" class="h3">
                Total:
                <text name="total-of-columns" class="total-of-all"></text>
            </div>
            <!-- <div name="rating-of-form" class="h3">
                Rating:
                <text name="rating-of-columns" class="rating-of-all"></text>
            </div> -->
            <!-- <div class="btn-group dropup">
                <button type="button" class="btn btn-secondary">
                    Please answer remaining questions
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu unchecked-radio">
                </div>
            </div> -->
            <!-- <div class="dropup">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Please answer the remaining questions:</h4>
                    <div class="unchecked-radio">
                    </div>
                </div>
            </div> -->
            <div>
                {% if date_now.day <= 30 %}
                <button class=" btn btn-primary submit" type="submit" id="submit-btn" value="submit">Submit</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
<script>
    $(".submit").click(function () {
        $(".sc").removeClass("bounceInLeft").addClass("	zoomOutUp faster");
    }); 
</script>
{% endblock form %}