{% extends "base.html" %}

{% block add_script %}
<script>
    $(document).ready(function () {

        {% for category in scorecard.category_list.all %}
        {% for question in category.questions.all %}
        $(".radi{{ category.category_number }}").click(function () {
            var totalcolumn = 0;
            var totalall = 0;
            $('.totalr{{ category.category_number }}').each(function () {
                totalcolumn += +(this.value);
            });
            $(".totalc{{ category.category_number }}").html(totalcolumn);

            {% for c in scorecard.category_list.all %}
            totalall += +$(".totalc{{c.category_number}}").html();
            {% endfor %}
            $("#totalall").html(totalall);
        });

        var choice = $('#optradio{{question.pk}}:checked').val()
        switch (choice) {
            case '0': $('#totalq{{question.pk}}').val(
                $('#weight{{question.pk}}').html() * $('.radio0').val());
                $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val()); break;
            case '1': $('#totalq{{question.pk}}').val(
                $('#weight{{question.pk}}').html() * $('.radio1').val());
                $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val()); break;
            case '2': $('#totalq{{question.pk}}').val(
                $('#weight{{question.pk}}').html() * $('.radio2').val());
                $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val()); break;
            case '3': $('#totalq{{question.pk}}').val(
                $('#weight{{question.pk}}').html() * $('.radio3').val());
                $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val()); break;
            case '4': $('#totalq{{question.pk}}').val(
                $('#weight{{question.pk}}').html() * $('.radio4').val());
                $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val()); break;
        }
        var totalcolumn = 0;
        var totalall = 0;
        $('.totalr{{ category.category_number }}').each(function () {
            totalcolumn += +(this.value);
        });
        $(".totalc{{ category.category_number }}").html(totalcolumn);

        {% for c in scorecard.category_list.all %}
        totalall += +$(".totalc{{c.category_number}}").html();
        {% endfor %}
        $("#totalall").html(totalall);
        // $("#weight{{question.pk}}").html($(this).val(););
        {% endfor %}
        {% endfor %}



    });

</script>
{% endblock add_script %}

{% block form %}
<div class="container">
    <div class="card border-0 bg-light" name="scorecard">
        <div class="card-body">
            <h4 class="card-title">Scorecard ID: {{scorecard.cid}} - {{ scorecard.date_released|date:'M-d-Y' }}</h4>
            <h5 class="card-title">
                {{ scorecard.provider }}{% for z in scorecard.provider.services.all %}-{{z.name}}{%endfor%}</h5>
            <h6 class="card-subtitle mb-2 text-primary">Account Manager: {{ scorecard.account_manager }}</h6>
            <h6 class="card-subtitle mb-2">Email: {{ scorecard.account_manager.email }}</h6>
            <h6 class="card-subtitle mb-2">Month Covered: {{ scorecard.month_covered|date:'F' }}</h6>
        </div>
    </div>
    <div class="container" name="survey-form">
        <form action="#" method="POST">
            {% for category in scorecard.category_list.all %}
            <h5>{{ category.category_number }}. {{ category.category_name }}</h5>
            {% csrf_token %}
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark text-center h5 ">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Question</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Value</th>
                        <th scope="col">Feedback</th>

                    </tr>
                </thead>
                <tbody>
                    {% for question in category.questions.all %}
                    <tr class="h6">
                        <th class="text-center"> {{ question.question_number }} </th>
                        <td class="text-left" style="width: 12%;"> {{ question.question_string }}</td>
                        <td class="text-center" id="weight{{question.pk}}" value="">
                            {{question.multiplier}}
                        </td>
                        <td class="text-center">
                            <div class="form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="0" type="radio" id="optradio{{question.pk}}"
                                        class="radio0 form-check-input radi{{category.category_number}}"
                                        name="optradio{{question.pk}}" onclick="$('#totalq{{question.pk}}').val(
                                            $('#weight{{question.pk}}').html() * $('.radio0').val());
                                       $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val());" checked>0
                                </label>
                            </div>
                            <div class=" form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="1" type="radio" id="optradio{{question.pk}}"
                                        class="radio1 form-check-input radi{{category.category_number}}"
                                        name="optradio{{question.pk}}" onclick="$('#totalq{{question.pk}}').val(
                                    $('#weight{{question.pk}}').html() * $('.radio1').val());
                               $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val());">1
                                </label>
                            </div>
                            <div class="form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="2" type="radio" id="optradio{{question.pk}}"
                                        class="radio2 form-check-input radi{{category.category_number}}"
                                        name="optradio{{question.pk}}" onclick="$('#totalq{{question.pk}}').val(
                                    $('#weight{{question.pk}}').html() * $('.radio2').val());
                               $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val());">2
                                </label>
                            </div>
                            <div class="form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="3" type="radio" id="optradio{{question.pk}}"
                                        class="radio3 form-check-input radi{{category.category_number}}"
                                        name="optradio{{question.pk}}" onclick="$('#totalq{{question.pk}}').val(
                                    $('#weight{{question.pk}}').html() * $('.radio4').val());
                               $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val());">3
                                </label>
                            </div>
                            <div class="form-check custom-control-inline">
                                <label class="form-check-label">
                                    <input value="4" type="radio" id="optradio{{question.pk}}"
                                        class="radio4 form-check-input radi{{category.category_number}}"
                                        name="optradio{{question.pk}}" onclick="$('#totalq{{question.pk}}').val(
                                    $('#weight{{question.pk}}').html() * $('.radio4').val());
                               $('#totalq{{question.pk}}').html($('#totalq{{question.pk}}').val());">4
                                </label>
                            </div>
                        </td>
                        <td class="text-center">
                            <text value="0" name="totalr" id="totalq{{question.pk}}"
                                class="totalr{{category.category_number}}"></text>
                        </td>
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    <tr class="h6">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center">
                            <text>Total:</text>
                        </td>
                        <td class="text-center">
                            <text name="totalcolumn" id="totalcolumn" class="totalc{{category.category_number}}"></text>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}

            Total:
            <text name="totalall" id="totalall"></text>
        </form>
    </div>
</div> {% endblock form %}