{% block script %}
<script>
    {% for category in scorecard.category_list.all %}
    var totalNA = 0;
    var totalQ = 0;
    var weightNA = 0;

    {% for question2 in category.questions.all %}
    $('.weight-{{category.category_number}}-{{question2.question_number}}').val({{ question2.multiplier }});
    if ($('.cat-{{category.category_number}}-row-{{question2.question_number}}:checked').val() == 0) {
        totalNA++;
        weightNA += parseFloat($('.weight-{{category.category_number}}-{{question2.question_number}}').val());
    }
    totalQ++;
    {% endfor %}

    // console.log(totalQ);
    // console.log(totalNA);
    // console.log(weightNA);
    var distribute = totalQ - totalNA;
    var weightd = weightNA / distribute;
    // console.log(distribute);
    // console.log(weightd);
    {% for question in category.questions.all %}
    if (totalQ == totalNA) {
        $('input[name=cat-{{category.category_number}}-row-{{question.question_number}}][value=1]').prop('checked', 'checked');
        totalNA--;
        console.log(totalNA);
        $('.weight-{{category.category_number}}-{{question.question_number}}').val(weightNA);
        $('.weight-{{category.category_number}}-{{question.question_number}}').html($('.weight-{{category.category_number}}-{{question.question_number}}').val());

        if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()) {
            // console.log('undefined');
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html('');
        }
        else {
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val(
                ($('.weight-{{category.category_number}}-{{question.question_number}}').val() / 5 *
                    $('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()).toFixed(2));
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html(
                $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val());
        }

        {% for c in scorecard.category_list.all %}
        var totalColumnR = 0;
        $('.total-cat-{{c.category_number}}').each(function () {
            totalColumnR += +(this.value);
        });
        if (!totalColumnR) {
            $('.total-column-cat-{{c.category_number}}').html('');
        }
        else {
            $('.total-column-cat-{{c.category_number}}').html(totalColumnR.toFixed(2));
        }
        {% endfor %}

        var totalall = 0;
        {% for c in scorecard.category_list.all %}
        totalall += +$('.total-column-cat-{{c.category_number}}').html();
        {% endfor %}
        $('.total-of-all').html(totalall.toFixed(2));
    }
    else {
        if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
            var currentweight = parseFloat($('.weight-{{category.category_number}}-{{question.question_number}}').val());
            currentweight += parseFloat(weightd);
            // console.log(currentweight);
            $('.weight-{{category.category_number}}-{{question.question_number}}').val(currentweight);
            $('.weight-{{category.category_number}}-{{question.question_number}}').html($('.weight-{{category.category_number}}-{{question.question_number}}').val());

            if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()) {
                // console.log('undefined');
                $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html('');
            }
            else {
                $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val(
                    ($('.weight-{{category.category_number}}-{{question.question_number}}').val() / 5 *
                        $('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()).toFixed(2));
                $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html(
                    $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val());
            }

            {% for c in scorecard.category_list.all %}
            var totalColumnR = 0;
            $('.total-cat-{{c.category_number}}').each(function () {
                totalColumnR += +(this.value);
            });
            if (!totalColumnR) {
                $('.total-column-cat-{{c.category_number}}').html('');
            }
            else {
                $('.total-column-cat-{{c.category_number}}').html(totalColumnR.toFixed(2));
            }
            {% endfor %}

            var totalall = 0;
            {% for c in scorecard.category_list.all %}
            totalall += +$('.total-column-cat-{{c.category_number}}').html();
            {% endfor %}
            $('.total-of-all').html(totalall.toFixed(2));

        }
        else {
            $('.weight-{{category.category_number}}-{{question.question_number}}').html('0');
        }
    }
    {% endfor %}
    {% endfor %}
</script>
{% endblock script %}


<script>
    {% for category in scorecard.category_list.all %}
    var totalQ = 0;

    {% for question in category.questions.all %}
    $('.cat-{{category.category_number}}-row-{{question.question_number}}').click(function () {
        $('.weight-{{category.category_number}}-{{question.question_number}}').val({{ question.multiplier }});

    var totalNA = 1;
    var weightNA = 0;
    {% for question in category.questions.all %}
    $('.weight-{{category.category_number}}-{{question.question_number}}').val({{ question.multiplier }});
    if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() == 0) {
        totalNA++;
        weightNA += parseFloat($('.weight-{{category.category_number}}-{{question.question_number}}').val());
    }
    else if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0 && totalQ != totalNA) {
        $('input[name=cat-{{category.category_number}}-row-{{question.question_number}}][value=0]').css('display', 'block');
    }
    totalQ++;
    {% endfor %}
    // console.log(totalNA);
    // console.log(totalQ);
    // console.log($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val());
    var distribute = totalQ - totalNA;
    var weightd = weightNA / distribute;

    if (totalQ == totalNA) {
        {% for question in category.questions.all %}
        if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
            var jstr = 'cat-{{category.category_number}}-row-{{question.question_number}}';
        }
        {% endfor %}
        $('input[name=' + jstr + '][value=0]').css('display', 'none');
        totalNA--;
        $('.weight-{{category.category_number}}-{{question.question_number}}').val(weightNA);
        $('.weight-{{category.category_number}}-{{question.question_number}}').html($('.weight-{{category.category_number}}-{{question.question_number}}').val());
    }

    {% for question in category.questions.all %}
    if (totalQ == totalNA) {
        if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
            var jstr = 'cat-{{category.category_number}}-row-{{question.question_number}}';
        }
        {% endfor %}
        $('input[name=' + jstr + '][value=0]').css('display', 'none');
        totalNA--;
        console.log(totalNA);
        $('.weight-{{category.category_number}}-{{question.question_number}}').val(weightNA);
        $('.weight-{{category.category_number}}-{{question.question_number}}').html($('.weight-{{category.category_number}}-{{question.question_number}}').val());

        if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()) {
            // console.log('undefined');
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html('');
        }
        else {
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val(
                ($('.weight-{{category.category_number}}-{{question.question_number}}').val() / 5 *
                    $('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()).toFixed(2));
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html(
                $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val());
        }

        {% for c in scorecard.category_list.all %}
        var totalColumnR = 0;
        $('.total-cat-{{c.category_number}}').each(function () {
            totalColumnR += +(this.value);
        });
        if (!totalColumnR) {
            $('.total-column-cat-{{c.category_number}}').html('');
        }
        else {
            $('.total-column-cat-{{c.category_number}}').html(totalColumnR.toFixed(2));
        }
        {% endfor %}

        var totalall = 0;
        {% for c in scorecard.category_list.all %}
        totalall += +$('.total-column-cat-{{c.category_number}}').html();
        {% endfor %}
        $('.total-of-all').html(totalall.toFixed(2));
    }
    else {
        if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
            var currentweight = parseFloat($('.weight-{{category.category_number}}-{{question.question_number}}').val());
            currentweight += parseFloat(weightd);
            // console.log(currentweight);
            $('.weight-{{category.category_number}}-{{question.question_number}}').val(currentweight);
            $('.weight-{{category.category_number}}-{{question.question_number}}').html($('.weight-{{category.category_number}}-{{question.question_number}}').val());

            if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()) {
                // console.log('undefined');
                $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html('');
            }
            else {
                $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val(
                    ($('.weight-{{category.category_number}}-{{question.question_number}}').val() / 5 *
                        $('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()).toFixed(2));
                $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html(
                    $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val());
            }

            {% for c in scorecard.category_list.all %}
            var totalColumnR = 0;
            $('.total-cat-{{c.category_number}}').each(function () {
                totalColumnR += +(this.value);
            });
            if (!totalColumnR) {
                $('.total-column-cat-{{c.category_number}}').html('');
            }
            else {
                $('.total-column-cat-{{c.category_number}}').html(totalColumnR.toFixed(2));
            }
            {% endfor %}

            var totalall = 0;
            {% for c in scorecard.category_list.all %}
            totalall += +$('.total-column-cat-{{c.category_number}}').html();
            {% endfor %}
            $('.total-of-all').html(totalall.toFixed(2));

        }
        else {
            $('.weight-{{category.category_number}}-{{question.question_number}}').html('0');
        }
    }
    {% endfor %}
    

    });
    {% endfor %}
    {% endfor %}
    // NA end here


</script>