<script>
    {% for category in scorecard.category_list.all %}
    var totalQ = 0;

    {% for question in category.questions.all %}
    totalQ++;
    {% endfor %}

    {% for question in category.questions.all %}
    $('.cat-{{category.category_number}}-row-{{question.question_number}}').click(function () {
        $('.weight-{{category.category_number}}-{{question.question_number}}').val({{ question.multiplier }});

    var totalNA = 1;
    var weightNA = 0;
    {% for question in category.questions.all %}
    $('.weight-{{category.category_number}}-{{question.question_number}}').val({{ question.multiplier }});
    if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() == 0) {
        totalNA++;
        weightNA += parseFloat($('.weight-{{category.category_number}}-{{question.question_number}}').val());
    }
    else if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0 && totalQ != totalNA) {
        $('input[name=cat-{{category.category_number}}-row-{{question.question_number}}][value=0]').css('display', 'block');
    }
    {% endfor %}

    totalNA--;
    var distribute = totalQ - totalNA;
    var weightd = weightNA / distribute;

    var ratingCat = 0;
    {% for question in category.questions.all %}
    ratingCat += parseInt($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val());
    {% endfor %}
    var div = totalQ - totalNA;
    ratingCat = ratingCat / div;
    if (!ratingCat) {
        $('.rating-column-cat-{{category.category_number}}').html('');
    }
    else {
        $('.rating-column-cat-{{category.category_number}}').html(ratingCat.toFixed(4));
    }
    totalNA++;

    if (totalQ == totalNA) {
        {% for question in category.questions.all %}
        if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
            var jstr = 'cat-{{category.category_number}}-row-{{question.question_number}}';
        }
        {% endfor %}
        $('input[name=' + jstr + '][value=0]').css('display', 'none');
        totalNA--;
    }

    {% for question in category.questions.all %}
    if ($('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val() != 0) {
        var currentweight = parseFloat($('.weight-{{category.category_number}}-{{question.question_number}}').val());
        currentweight += parseFloat(weightd);
        // console.log(currentweight);
        $('.weight-{{category.category_number}}-{{question.question_number}}').val(parseFloat(currentweight.toFixed(4)));
        $('.weight-{{category.category_number}}-{{question.question_number}}').html($('.weight-{{category.category_number}}-{{question.question_number}}').val());

        if (!$('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()) {
            // console.log('undefined');
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html('');
        }
        else {
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val(
                $('.cat-{{category.category_number}}-row-{{question.question_number}}:checked').val()
                * $('.weight-{{category.category_number}}-{{question.question_number}}').val());
            var totalR = parseFloat($('#total-cat-{{category.category_number}}-row-{{question.question_number}}').val());
            $('#total-cat-{{category.category_number}}-row-{{question.question_number}}').html(parseFloat(totalR.toFixed(4)));
        }

        {% for c in scorecard.category_list.all %}
        var totalColumnR = 0;
        $('.total-cat-{{c.category_number}}').each(function () {
            totalColumnR += +(this.value);
        });
        if (!totalColumnR) {
            $('.total-column-cat-{{c.category_number}}').html('');
        }
        else {
            $('.total-column-cat-{{c.category_number}}').html(parseFloat(totalColumnR.toFixed(4)));
        }
        {% endfor %}

        var totalall = 0;
        {% for c in scorecard.category_list.all %}
        totalall += +$('.total-column-cat-{{c.category_number}}').html();
        {% endfor %}
        $('.total-of-all').html(parseFloat(totalall.toFixed(4)));
    }
    else {
        $('.weight-{{category.category_number}}-{{question.question_number}}').html('0');
    }
    {% endfor %}

    var ratingall = 0;
    var categoryN = 0;
    {% for category in scorecard.category_list.all %}
    ratingall += +$('.rating-column-cat-{{category.category_number}}').html();
    categoryN++;
    {% endfor %}
    ratingall /= categoryN;
    $('.rating-of-all').html(ratingall.toFixed(4));

    });
    {% endfor %}
    {% endfor %}
    // NA end here
</script>